/*Para utilizar a fonte basta colocar 
  o nome dela dentro de um class e importar
  <link rel="stylesheet" href="../fonts/fonts.css">*/

@font-face {
    font-family: "fortine";
    src: url("fortine.otf")
    format("truetype");
}

.fortine{
    font-family: "fortine", sans-serif;
}

@font-face {
    font-family: "jetBrains";
    src: url("jetBrains.ttf")
    format("truetype");
}

.jetBrains{
    font-family: "jetBrains", sans-serif;
}

@font-face {
    font-family: "jetBrainsBold";
    src: url("jetBrainsBold.ttf")
    format("truetype");
}

.jetBrainsBold{
    font-family: "jetBrainsBold", sans-serif;
}

@font-face {
    font-family: "kufam";
    src: url("kufam.ttf")
    format("truetype");
}

.kufam{
    font-family: "kufam", sans-serif;
}

